* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parallax {
    height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    text-shadow: 2px 2px 2px black;
    background-size: 37.5vw;
}
.parallax1 {
    background-image: url('normal.jpeg');
}
.parallax2 {
    background-image: url('edit.png');
}
.black-block {
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}